@import "../../config";

.input {
  width: 100%;
  margin: 1rem 0;

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      justify-self: center;
      input {
        width: 40vw;
        min-width: 300px;
        border: none;
        border-bottom: 2px solid #fff;
        height: 30px;
        outline: 0;
        padding-left: 0.5rem;
        &:focus {
          border-bottom: 2px solid;
          border-color: $focus-color;
          &::placeholder {
            color: transparent;
          }
        }
      }
    }
    &__search {
      background: $primary-color;
      color: set-text-color($primary-color);
      padding: 0.2rem 1rem;
      height: 30px;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 700;
    }
  }
}
