@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: lighten($focus-color, 46);
}

.App {
  font-family: "Lato", sans-serif;
}

.container {
  width: 90%;
  max-width: $max-width;
  margin: auto;
}

.resList {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: $mobile-width) {
  .resList {
    grid-template-columns: 1fr 1fr;
  }
}
